

@keyframes swing-one {
	0% {
		rotate: -15deg;
	}
	50% {
		rotate: 20deg;
	}
    100% {
        rotate: -15deg;
    }
}

@keyframes swing-two {
	0% {
		rotate: 10deg;
	}
	50% {
		rotate: -30deg;
	}
    100% {
        rotate: 10deg;
    }
}