

@keyframes swing-one {
	0% {
		rotate: -5deg;
	}
	50% {
		rotate: 7deg;
	}
    100% {
        rotate: -5deg;
    }
}

@keyframes swing-two {
	0% {
		rotate: 3deg;
	}
	50% {
		rotate: -4deg;
	}
    100% {
        rotate: 3deg;
    }
}