$color-white: rgb(255,255,255);
$color-grey-lighter: rgb(238,238,238);
$color-grey-dark: rgb(128, 128, 128);
$color-black: rgb(32,32,32);
$color-black-trans: rgba(32, 32, 32, 0.5);
$color-black-lighter: rgb(38,37,37);
$color-error: rgb(236, 68, 68);
$color-brown: rgb(38, 22, 22);
$color-brown-trans: rgba(43, 26, 26, 0.7);
$color-form: rgba(32, 32, 32, 0.95);
$color-nav-footer: rgb(18, 18, 18);
$color-hover: rgb(214,199,142);