@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .nav {
        .hamburger {
            display: none;
        }
        &__links {
            position: static;
            display: flex;
            align-items: center;
            gap: 30px;
            flex-direction: row;
            background-color: transparent;
            transform: translateX(0);
            opacity: 1;
        }

        &__link {
            position: static;
            font-size: 1.6rem;
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
        }
    }
}
