@use './colors' as *;
@use './mixins' as *;
@use './animations' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: $color-black-lighter;
	color: $color-white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	position: relative;
	margin: 0 auto 3rem;
	font-size: 4.1rem;
	font-weight: 500;
	width: fit-content;
	letter-spacing: 2px;
	color: $color-grey-lighter;
	font-family: 'Caveat', cursive;

	@include mobile {
		font-size: 4.3rem;
	}

	@include desktopMin {
		margin-bottom: 4rem;
		font-size: 5rem;
	}

	@include desktopMax {
		font-size: 6rem;
	}
}

.section-heading::before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 75%;
	height: 3px;
	background-color: $color-hover;
}

.section-padding {
	padding: 3rem 2rem;

	@include desktopMin {
		padding: 5rem 2rem;
	}
}

.no-scroll-mobile {
	overflow: hidden;
}

//SECTION SHARP EDGES
.shape-block {
	position: absolute;
	height: 40px;
	width: 100%;
	background-size: cover;

	@include mobile {
		height: 50px;
	}

	@include tablet {
		height: 60px;
	}

	@include desktopMin {
		height: 70px;
		background-size: auto;
	}

	&-up {
		background-image: url(../../dist/img/shape_up.svg);
		bottom: 0;
		background-position: top;
		bottom: -1px;

		@include desktopMin {
			bottom: -15px;
		}

		&--brown {
			background-image: url(../../dist/img/shape_up_brown.svg);
		}
	}

	&-down {
		background-image: url(../../dist/img/shape_down.svg);
		top: 0;
		background-position: bottom;
		top: -1px;

		@include desktopMin {
			top: -20px;
		}
	}
}

// NAV
.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	padding: 20px 12px;
	z-index: 500;

	@include mobile {
		padding: 20px 24px;
	}

	@include desktopMax {
		padding: 20px 48px;
	}

	.hamburger {
		z-index: 500;

		@include desktopMin {
			display: none;
		}
	}

	&__logo {
		font-size: 3rem;
		padding: 1.2rem;
		color: $color-grey-lighter;

		@include mobile {
			font-size: 4rem;
		}

		span {
			font-weight: 300;
			color: $color-hover;
		}

		&-a {
			text-decoration: none;
			color: inherit;
		}
	}

	&__links {
		position: fixed;
		top: 0;
		left: 150%;
		right: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $color-white;
		transition: left 0.5s, opacity 0.5s;
		opacity: 0;
		z-index: 10;

		@include desktopMin {
			position: static;
			width: fit-content;
			display: flex;
			align-items: center;
			gap: 30px;
			flex-direction: row;
			background-color: transparent;
			opacity: 1;
		}

		&--active {
			left: 0;
			position: fixed;
			opacity: 1;
		}
	}

	&__link {
		position: relative;
		display: block;
		text-decoration: none;
		color: $color-black;
		font-size: 3rem;
		padding: 20px;
		text-transform: uppercase;

		@include desktopMin {
			position: static;
			font-size: 1.6rem;
			text-decoration: none;
			color: inherit;
		}

		@include desktopMax {
			font-size: 2rem;
		}
	}
}

// HEADER

.header {
	background-image: url(../../dist/img/header_1080.jpg);
	position: relative;
	height: 100svh;
	background-position: 70% center;
	background-size: cover;
	z-index: 0;

	@include tablet {
		height: 90svh;
	}

	@include desktopMin {
		background-image: url(../../dist/img/header_1920.jpg);
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.5);
		z-index: -1;
	}

	&__texts {
		z-index: 1;
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		color: $color-grey-lighter;
		&-h1 {
			letter-spacing: 15px;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 4.8rem;
			padding: 0 15px;

			@include mobile {
				font-size: 5rem;
			}

			@include tablet {
				font-size: 5.6rem;
			}

			@include desktopMin {
				font-size: 6.2rem;
			}

			@include desktopMax {
				font-size: 7.6rem;
			}
		}
		&-p {
			letter-spacing: 3px;
			font-weight: 300;
			font-size: 2rem;
			padding: 15px;

			@include mobile {
				font-size: 2.4rem;
			}

			@include desktopMax {
				font-size: 2.6rem;
			}
		}
	}

	&__arrow {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 70px;
		width: 40px;
		color: $color-grey-lighter;
		transition: color 0.3s;
	}
}

// ABOUTUS

.aboutus {
	position: relative;
	&-wrapper {
		background-color: $color-black-trans;
		padding: 24px;
		max-width: 750px;

		@include mobile {
			padding: 24px 48px 36px;
		}

		@include desktopMin {
			background-color: transparent;
			padding-bottom: 48px;
		}
	}

	&__box {
		text-align: center;
		letter-spacing: 2px;
		font-weight: 300;
		z-index: 1;

		@include mobile {
			font-size: 1.8rem;
		}

		@include desktopMin {
			font-size: 2rem;
			border: 3px solid $color-grey-dark;
			padding: 4rem 3rem;
			background-color: $color-black-trans;
		}
	}

	&__long {
		margin-bottom: 24px;
	}

	&__bg-icon-one,
	&__bg-icon-two {
		display: none;
		position: absolute;
		z-index: -1;
	}

	&__bg-icon-one {
		width: 23%;
		max-width: 320px;
		bottom: 22%;
		left: -1%;
		animation: swing-one 40s infinite linear;

		@include desktopMin {
			display: inline;
		}

		@include desktopMax {
			left: 3%;
			bottom: 20%;
			max-width: 380px;
		}
	}

	&__bg-icon-two {
		width: 22%;
		max-width: 270px;
		bottom: 10%;
		right: 2rem;
		animation: swing-two 50s infinite linear;

		@include desktopMin {
			display: inline;
		}

		@include desktopMax {
			bottom: 7%;
			right: 8%;
			max-width: 390px;
		}
	}
}

//GAP

.gap {
	background-image: url(../../dist/img/gap_1080.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	height: 250px;
	z-index: 0;

	@include mobile {
		background-position: 50% 75%;
	}

	@include tablet {
		height: 350px;
	}

	@include desktopMin {
		height: 400px;
		background-image: url(../../dist/img/gap_1920.jpg);
		background-attachment: fixed;
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.3);
		z-index: -1;
	}

	&__logo {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&-img {
			height: 60%;
		}
	}
}

//OFFER
.offer {
	overflow: hidden;
	&__box {
		display: flex;
		flex-direction: column;
		background-color: $color-black-trans;
		transition: scale 0.3s;

		@include tablet {
			flex-direction: row;
		}

		&--right {
			margin: 3em 0;

			@include desktopMin {
				margin-left: auto;
			}

			.offer__box-img {
				@include tablet {
					order: 1;
				}
			}
		}
	}

	&__box:hover {
		scale: 1.02;
	}

	&__box-img {
		@include tablet {
			width: 50%;
		}

		@include desktopMin {
			width: 55%;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		@include tablet {
			object-fit: cover;
		}
	}

	&__box-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 12px 24px 24px;

		@include mobile {
			padding: 24px 36px 36px;
			font-size: 1.7rem;
		}

		@include tablet {
			width: 50%;
			padding: 12px 24px;
		}

		@include desktopMin {
			width: 45%;
			font-size: 1.85rem;
		}

		@include desktopMax {
			padding: 24px 36px;
			font-size: 1.95rem;
		}

		h3 {
			font-size: 3.7rem;
			font-family: 'Caveat', cursive;

			@include tablet {
				font-size: 3.8rem;
			}

			@include desktopMin {
				font-size: 4.5rem;
			}

			@include desktopMax {
				font-size: 5rem;
			}
		}

		.offer__icon {
			width: 40px;
			margin: 1rem 0;

			@include desktopMin {
				width: 60px;
				margin: 1.5rem 0;
			}
		}

		p {
			text-align: center;
			letter-spacing: 2px;
			font-weight: 300;
		}
	}
}

.offer__more {
	background-image: url(../../dist/img/bar_img_1920.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	height: 550px;
	z-index: 0;

	&-wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 50px 0;

		@include desktopMin {
			flex-direction: row;
			padding: 80px 0;
		}
	}

	&-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.65);
		z-index: -1;
	}

	&-box {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0 24px;
		color: $color-grey-lighter;

		@include desktopMin {
			justify-content: flex-start;
		}

		h3 {
			font-family: 'Caveat', cursive;
			font-size: 3rem;
			font-weight: 700;
			position: relative;

			@include mobile {
				font-size: 3.5rem;
			}

			@include tablet {
				font-size: 3.6rem;
			}

			@include desktopMin {
				font-size: 4rem;
			}

			@include desktopMax {
				font-size: 4.5rem;
			}
		}

		h3::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 75%;
			height: 2px;
			background-color: $color-hover;

			@include desktopMax {
				height: 3px;
			}
		}

		p {
			font-weight: 400;
			padding: 1rem;
			border-radius: 10px;

			@include mobile {
				font-size: 1.8rem;
			}

			@include tablet {
				font-size: 2rem;
			}

			@include desktopMin {
				padding: 2rem;
				font-size: 2.2rem;
			}

			@include desktopMax {
				padding: 3rem;
			}
		}
	}
}

//TEAM

.team {
	background-color: $color-brown;
	overflow: hidden;
	position: relative;
	z-index: 0;
	&-wrapper {
		background-color: $color-brown-trans;
		padding: 24px 18px;
		max-width: 750px;
		margin-bottom: 2rem;

		@include mobile {
			margin-bottom: 2.5rem;
		}

		@include tablet {
			margin-bottom: 3rem;
		}
		
		@include desktopMin {
			margin-bottom: 2rem;
		}
	}

	p {
		text-align: center;
		letter-spacing: 2px;

		@include tablet {
			font-size: 1.8rem;
		}

		@include desktopMin {
			font-size: 1.9rem;
		}

		@include desktopMax {
			font-size: 2rem;
		}
		
		span {
			color: $color-hover;
			font-weight: 500;
		}
	}

	&__img {
		width: 100%;
		height: 280px;
		object-fit: cover;
		object-position: 50% 20% ;
		margin: 2rem 0;

		@include mobile {
			height: 500px;
		}

		@include desktopMin {
			margin: 3rem 0;
			height: 600px;
			background-image: url(../../dist/img/team_1920.jpg);
		}
	}

	&__bg-icon-one,
	&__bg-icon-two {
		display: none;
		position: absolute;
		z-index: -1;
	}

	&__bg-icon-one {
		width: 23%;
		max-width: 320px;
		bottom: 33%;
		left: -1%;
		animation: swing-one 40s infinite linear;

		@include desktopMin {
			display: inline;
		}

		@include desktopMax {
			left: 3%;
			max-width: 380px;
		}
	}

	&__bg-icon-two {
		width: 26%;
		max-width: 300px;
		bottom: 5%;
		right: -1%;
		animation: swing-two 50s infinite linear;

		@include desktopMin {
			display: inline;
		}

		@include desktopMax {
			right: 4%;
			max-width: 430px;
		}
	}

	.shape-block {
		left: 0;
	}
}
